.background-image {
    width: 100vw;      
    height: 30vh;

    background-image: url('imgs/motivation.jpg'); 
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    margin: 0px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border:none;
    font-size: 18px;
}
